<div flex-xs flex-gt-xs="30"  layout="column">
    <md-card md-theme="{{ showDarkTheme ? 'dark-purple' : 'default' }}" md-theme-watch>
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">{{hotelPgCntrl.selectedhotel.hotel_name}}</span>
          <span class="md-subhead">{{hotelPgCntrl.selectedhotel.address}}</span>
        </md-card-title-text>
        <md-card-title-media>
          <div class="md-media-sm card-media"></div>
        </md-card-title-media>
      </md-card-title>
      <md-card-actions layout="row" layout-align="end center">
        <button ng-click="hotelPgCntrl.goToLike()">Confirm Register</button>  
      </md-card-actions>
</md-card>


</div>
<div flex-xs flex-gt-xs="80"  layout="column">
        <div><h1>More Hotels</h1></div>
    <md-card ng-repeat="hotelpg in hotelPgCntrl.hotelList"  md-theme="{{ showDarkTheme ? 'dark-purple' : 'default' }}" md-theme-watch>
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">{{hotelpg.hotel_name}}</span>
          <span class="md-subhead">{{hotelpg.address}}</span>
        </md-card-title-text>
        <md-card-title-media>
          <div class="md-media-sm card-media"></div>
        </md-card-title-media>
      </md-card-title>
      <md-card-actions layout="row" layout-align="end center">
        <button id="link" ng-click="hotelPgCntrl.goToDisLike(hotelpg)">Register</button>  
      </md-card-actions>
</md-card>
<!-- ng-click="listCntrl.goToRegister(hotel) -->
