<div flex-xs flex-gt-xs="80"  layout="column">
        <md-card ng-repeat="hotelrec in recCntrl.hotelRecList"  md-theme="{{ showDarkTheme ? 'dark-purple' : 'default' }}" md-theme-watch>
          <md-card-title>
            <md-card-title-text>
              <span class="md-headline">{{hotelrec.hotel_name}}</span>
              <span class="md-subhead">{{hotelrec.address}}</span>
            </md-card-title-text>
            <md-card-title-media>
              <div class="md-media-sm card-media"></div>
            </md-card-title-media>
          </md-card-title>
          <md-card-actions layout="row" layout-align="end center">
            <a href="/hotel/{{hotelrec._id}}"">Register</a>  
          </md-card-actions>
    </md-card>
    <!-- ng-click="listCntrl.goToRegister(hotel) -->