html, body {
font-family: sans-serif;
font-size: 16px;
height:100%;
margin : 0;
padding:0;
}

md-toolbar h1 {
     font-size: 1.250em;
     font-weight: 400;
     margin:auto;
 }

 md-toolbar-tools h1 {
    font-size: 1.250em;
    font-weight: 400;
}

#content{
    padding: 20px 0px 40px 20px;
}