
        <div class='container'>
            <div class='row'>
                <div class='col-sm-4 col-sm-offset-4 text-center'>
                    <h1>Sign In</h1>
                    <form name="loginForm" ng-submit="hotelCntrl.login(hotelCntrl.user)">
                        <input type='text' placeholder='Email' name='email' ng-model='hotelCntrl.user.email' class='form-control' ng-required="true">
        
                        <input type='password' placeholder='Password' name='password' ng-model='hotelCntrl.user.password' class='form-control' ng-required="true" >
                        <input type='submit' class='btn btn-primary' value='Login' ng-disabled="loginForm.$invalid">
                    </form>
                    <div ng-show= "hotelCntrl.lgnmsg!='Not Sent'">{{hotelCntrl.lgnmsg}}</div>
                    <a href='/register'>Register a new account</a>
                </div>
            </div>
          </div>
   