<!-- <div style="background-color:#009688" flex> -->
        <md-sidenav flex class="md-sidenav-left md-whiteframe-z2"
        md-component-id="left"
        md-is-locked-open="$mdMedia('gt-sm')">
<md-toolbar><h1>Recommendations</h1></md-toolbar>
<a href="/hotelrecom"> Go to recommended</button>
<a href="/list">Go To List</a>
</md-sidenav>
<!-- </div> -->
