<md-toolbar>
    <div class="md-toolbar-tools">
        <md-button hide-gt-sm ng-click="hotelCntrl.toggleSidenav()"class="md-icon-button">
           <!-- <md-icon md-svg-icon="app/content/svg/menu.svg"></md-icon> -->
           <md-icon md-svg-icon="menu"></md-icon>
        </md-button>
        <h1>Hotels List</h1>
    </div>
</md-toolbar>